header{
    background:repeat-x bottom; 
}
.liste{
    
    text-align: center;
    margin-top: -40px;
    margin-left: 700px;
}

.t{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.el1{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      height: 10px; 
       text-align: right; 
      margin-top: -100px;
     margin-left: 5px;
      margin-right: 4px; 
}
nav ul {   
     list-style-type: none; 
     } 
     nav li {   
           
        display: inline-block;
          
        }
        .ban{
            height: 350px;
            width: 1340px;
        } 
        button{
            background-color: orangered;
        }
        .petit{
            max-width: 350px;
            text-align: center;
            margin-left: 500px;
            margin-top: -200px;
            font-size: 30px;
            font-style: oblique;
        color: rgb(234, 237, 244);
        }
        .but1{
            margin-left: 650px;
            margin-top: -50px;
            width: 100px;
            text-decoration: solid;
            font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
        }
    
       .pl1{
        margin-top: 130px;
       } 
        .im1{
            margin-left: 60px;
        }
        .p1,.p2,.p3{
            max-width: 200px;
        }
        .p2{
            margin-top: -115px;
            margin-left: 20px;
        }
        .p3{
            margin-top: -115px;
            margin-left: 20px;
        }
        .lab1{
            margin-left: 50px;
            margin-bottom: 30px;
        }
        .lab2{
          
            margin-left: -5px;
        }
        .im2,.im3{
            margin-top: -40px;
        }
        .lab3{
           
            margin-left: -20px;
        }
       
        .pl1{
            margin-left: 350px;
        }
        .pl2{
            margin-left: 570px;
            margin-top: -10%;
        }
        .pl3{
            margin-left: 790px;
            margin-top: -10%;
        }
       .fondation{
            width: 470px;
            max-height: 310px;
           /* background-color: aquamarine; */
           margin-left: 150px;
           margin-top: 50px;
        } 
        .elev{
          width: 470px;
            height: 190px;
           /* background-color: aquamarine; */
           margin-left: 640px;
           margin-top: -205px;
        }
        .fondation,.elev{
    background-image: url("../EssaieSiteWeb/images/ciel.jpeg");
        }
        .titre{
   
            margin-top: 30px;
            margin-left: 40px;
            width: 50px;
        }
        
        .des{
            width: 10px;
            margin-left: 10px;
            margin-top: 40px;
        }
        .mini{
            height: 190px;
            margin-left: 200px;
            margin-top: -80px;
        }
        .minis{
            height: 190px;
            margin-left: 230px;
            margin-top: -50px;
        }
        .but2,.but3{
            margin-top: -30px;
            margin-left: 50px;
        }
        .but4{
            background-color: rgb(162, 200, 243);
        }
        .t1{
            text-align: center;
        }
        .pp{
            width: 500px;
            text-align: center;
            margin-left: 400px;
        }
        .form{
            margin-left: 400px;
        }
        footer{
            background-color: black;
            color: whitesmoke;
        }
        .fin{
            margin-left: 500px;
        }
        body{
            overflow-x: hidden;
        }
        @media only screen and (min-width:320px) and (max-width:768px){
            body{
                overflow-x: hidden;
            }
            .t{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
            }
            .liste{
    
                text-align: center;
                margin-top: 10px;
                margin-left: -45px;
                font-size: 10px;
            
            margin-right: 6px; 
            }
            .ban{
                height: 320px;
                width: 320px;
            }
            .group{
                margin-left: -500px;
                
            }
            .petit{
                color:rgb(255, 255, 255);
            } 
            .but1{
                margin-left: 100px;
            margin-top: -50px;
            }
            .pl1,.pl2,.pl3{
                margin-left: 50px;
                margin-top: 40px;
            }
           .fondation{
            margin-left: 1px;
           }
           .elev{
            margin-left: 1px;margin-top: 30px;
           }
           .t1{
            font-size: 15px;
           }
           hr{
            width: 175px;
           }
           .pp{
            width: 300px;
            text-align: center;
            margin-left: 1px;
            margin-top: -8px;
            font-size: 12px;
        }
        .form{
            margin-left: 4px;
        }
        .in1,.email{
            width: 200px;
        }
        #in2{
            
         margin-left: 1px; 
        }  
        .email{
            margin-top: 12px;
            margin-left: 15px;
        }
        .but4{
            width: 40px;

        }
        footer{
            background-color: rgb(27, 25, 25);
        }
        .fin{
            margin-left: 5px;

        }
        }